#lgn {
  color: aliceblue;
  margin-top: 5%;
  margin: auto;
  padding: auto;
  padding: 5%;
  text-align: center;
  margin-top: 49px;
  background-color: yellow;
  background-image: url("images/bg8.jpg");
}
#registration {
  color: aliceblue;
  margin-top: 5%;
  margin: auto;
  padding: auto;
  padding: 5%;
  text-align: center;
  margin-top: 49px;
  background-color: yellow;
  background-image: url("images/bg8.jpg");
}
